<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rhymes Like Dimes</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
    <div id="tv-tube">

    </div>
    <div id="start-button-wrapper">
        <button id="start-button">S T A R T</button>
    </div>
    <script src="/main.js"></script>
</body>
</html>