<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rhymes Like Dimes</title>
    <link rel="shortcut icon" href="images/doom_pixel_icon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script src="/main.js" defer></script>
</head>
<body>

    <section id="tv-tube">
        <div id="player"></div>
    </section>
<!--        <article id="admin-panel" class="admin_background">-->
<!--            <h1>Admin Panel</h1>-->
<!--            <form action="/rhymes" method="post">-->
<!--                <p>Cheat Code:</p><input type="text" name="youtube-shortcode">-->
<!--                <p>Start:</p><input type="text" name="start">-->
<!--                <p>End:</p><input type="text" name="end">-->
<!--                <button id="create-button" type="submit">Create</button>-->
<!--            </form>-->
<!--        </article>-->

    <section id="start-console">
        <article id="channel-dial" >
            <img class="dial" src="images/dial_purple.svg" alt="channel dial"/>
        </article>

        <button id="start-button">S T A R T</button>

        <article id="volume-dial">
            <img class="dial" src="images/dial_purple.svg" alt="volume dial"/>
        </article>
    </section>

</body>
</html>