<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rhymes Like Dimes</title>
    <link rel="shortcut icon" href="images/doom_pixel_icon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script src="/main.js" defer></script>
    <script>
        let doom_videos = <%- JSON.stringify(rhymes) %>;

        // console.log(doom_videos);

        function getRanDOOMVideo() {
            return doom_videos[Math.floor(Math.random() * doom_videos.length)];
        }

        let player;

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                events: {
                    'onStateChange': onPlayerStateChange
                }
            });
        }
    </script>
</head>
<body>

<section id="tv-tube" class="tv-static">
    <article id="player"></article>
    <article id="admin-panel" class="admin_background">
        <section>
            <h1>Admin Panel</h1>
            <form action="/rhymes" method="post">
                <p>Song Name:</p><input type="text" name="songName">
                <p>Video Code:</p><input type="text" name="videoId">
                <p>Start:</p><input type="text" name="startSeconds">
                <p>End:</p><input type="text" name="endSeconds">
                <button id="create-button" type="submit">Create</button>
            </form>
        </section>
        <section>
            <h2>Current Videos</h2>
            <ul class="rhymes">
                <% for(var i = 0; i < rhymes.length; i++) { %>
                    <li class="rhymes">
                        <%= rhymes[i].songName %>
                        <button class="delete-video-id" value=<%= rhymes[i].videoId %>>X</button>
                    </li>
                <% } %>
            </ul>
        </section>
    </article>
</section>

<section id="start-console">
    <article id="channel-dial">
        <img class="dial" src="images/dial_purple.svg" alt="channel dial"/>
    </article>

    <button id="vhs-button">MM.. FOOD (The Movie)</button>

    <article id="volume-dial">
        <img class="dial" src="images/dial_purple.svg" alt="volume dial"/>
    </article>
</section>

<section id="speaker-console">
    <img id="speaker" src="images/doom_speaker.svg" alt="speaker art">
    <article id="doom-badge">
        <img src="images/doom_pixel_icon.png" alt="MF Doom Pixel Icon">
    </article>
</section>

</body>
</html>