body {
    background: black;
    font-size: 62.5%;
}
iframe {
    border-radius: 15%;
    border: solid 2px white;
}
#tv-tube {
    /*content: url("https://live.staticflickr.com/373/32541144615_a57b24630b_b.jpg");*/
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border-radius: 15%;
    margin: 30px auto;
    height: 752px;
    width: 998px;
}
#start-console {
    width: 100%;
    display: flex;
    justify-content: center;
}
#start-button {
    font-size: 3rem;
    font-kerning: auto;
    color: white;
    height: 5rem;
    width: 30rem;
    margin: 0 auto;
    padding: 0;
    background-color: #551C6A;
    border: none;
    border-radius: 10pt;
}
.dial {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}
#channel-dial {
    margin-left: 10rem;
    transform: rotate(-25deg);
}
#volume-dial {
    margin-right: 10rem;
    transform: rotate(45deg);
}